div .strikethrough-width {
	width: calc(100% - 2.5rem);
}
div .delete-right {
	right: 0px;
}

#main {
	background-color: #F0F2F0;
}

#main-list-input {
	box-shadow: 0;
	box-sizing: border-box;
	width: calc(100% - 2rem);
	font-size: 1.125rem;
	font-family: 'Roboto';
	border: 1px solid gray;
	height: 2.5rem;
	padding: 0 0.5rem;
	margin: 1rem 1rem 0.5rem 1rem;
	border-radius: 0.15rem;
	margin-top: 4rem;
}

.list-header {
	margin: 0.5rem 0;
	color: #3B3B3B;
	text-align: center;
}

.main-list {
	list-style: none;
	margin: 0;
	padding: 0rem;
	background-color: #FFF;
}
	.main-list:last-child {
		margin-bottom: 1rem;
	}
	.main-list li {
		overflow: hidden;
		position: relative;
		border-bottom: 1px solid #F0F2F0;
		background-color: #FFF;
		display: table;
		width: calc(100% - 1rem);
		font-size: 1.125rem;
		padding: 0.5rem;
	}
		.main-list-checkbox {
			position: relative;
			display: table-cell;
			width: 2rem;
			height: 2rem;
		}
			.strikethrough {
				transition: all 0.2s;
				width: 0;
				height: 2px;
				background-color: #6FDF7D;
				z-index: 3;
				position: absolute;
				top: 1.5rem;
				left: 2.5rem;
			}
			input[type=checkbox] {
				opacity: 0;
				padding: 0;
				margin: 0;
				width: 2rem;
				height: 2rem;
				vertical-align: middle;
			}
			input[type=checkbox] + div {
				border-radius: 3rem;
				box-sizing: border-box;
				height: 2rem;
				top: 0;
				width: 2rem;
				border: 3px solid rgb(111, 223, 125);
				position: absolute;
				z-index: 2;
				pointer-events: none;
				transition: all 0.2s;
			}
			input[type=checkbox]:checked + div {
				border-width: 6px;
				background-image: url('../images/check.png');
				background-size: cover;
				border: 3px solid rgb(111, 223, 125);
				background-color: rgb(111, 223, 125);
			}

		.main-list-name {
			padding-left: 0.5rem;
			width: calc(100% - 2rem);
			display: table-cell;
			vertical-align: middle;
		}
		.main-list-delete {
			position: absolute;
			right: -100%;
			background-color: #D24D57;
			height: 100%;
			color: #FFF;
			display: inline-block;
			top: 0;
			z-index: 6;
			box-sizing: border-box;
			vertical-align: middle;
			transition: all 0.2s;
			padding: 0.9rem 1rem;
		}