<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>App</title>
</head>
<body>
	<div id='header'>
		<div id='header-action' class='hidden'>
			<button>Done</button>
		</div>
		<div id='header-icons'>
			<div class='header-icon header-icon-active' id='header-icon-fridge'><img src='images/fridge.png' /></div>
			<div class='header-icon' id='header-icon-list'><img src='images/list.png' /></div>
			<div class='header-icon' id='header-icon-add'><img src='images/add.png' /></div>
			<div class='header-icon' id='header-icon-recipe'><img src='images/recipe.png' /></div>
			<div class='header-icon' id='header-icon-more'><img src='images/more.png' /></div>
		</div>
	</div>
	<div id='menu' class='no-visibility'>
		<ul id='menu-specific'>
			<li id='menu-specific-edit'>Edit items</li>
			<li id='menu-specific-search'>Search</li>
		</ul>
		<ul id='menu-general'>
			<li>Logout</li>
			<li>Settings</li>
		</ul>
	</div>
	<div id='main-cover' class='no-visibility'></div>
	<div id='search-cover' class='no-visibility'></div>
	<div id='add-container' class='add-container-top'>
		<div id='add'>
			<div id='add-main'>
				<img src='images/barcode.png' />
				<div>Place barcode at camera to scan</div><br/>
				<input v-model='newItem.name' placeholder='Or enter grocery name'/>
				<input type='date' v-model='newItem.expiryDate' placeholder='Date of expiry (yyyy-mm-dd)'/>
			</div>
			<div id='add-buttons'>
				<button id='add-buttons-cancel'>Cancel</button>
				<button id='add-buttons-confirm' v-on='click: addItem'>Add item</button>
			</div>
		</div>
	</div>
	<div id='main'>
		<div id='search'>
			<input type='text' placeholder='Search for stuff in your fridge' />
		</div>
			<div id='no-items' v-show='!items.length'>
				It looks like you haven't got any items in your fridge.
				<br/>Click the + icon to add some
			</div>
			<template v-repeat='item : items'>
				<div class='tile' style='{{item.style}}'>
					<div class='tile-delete' v-show='isEditing'>
							<span v-on='click: deleteItem($index)'>&times;</span>
						</div>
						<div class='tile-image' style='background-image: url({{item.url}})'>
						</div>
						<div class='tile-info'>
							<div class='tile-info-name'>
								{{item.name}}
							</div>
							<div class='tile-info-expiry'>
								{{item.expiry | daysUntilExpiry}}
							</div>
						</div>
					</div>
					<br v-show='$index % 2' clear='all'/>
			</template>
		</div>
	<script type="text/javascript" src='js/vue.js'></script>
	<script type="text/javascript" src='js/script.js'></script>
	<script type="text/javascript" src='js/index.js'></script>
</body>
</html>