#map-container {
	display: block;
	width: 100%;
	padding: 1rem;
	text-align: center;
}
#map {
	float: none;
	width: 70%;
	height: 20rem;
	margin: 1rem auto;
}

@media (max-width: 1000px) {
	#map-container {
		display: block;
		width: 100%;
		padding: 1rem;
		text-align: center;
	}
	#map {
		float: none;
		width: 100%;
		margin-left: 0 auto;
	}
}