<!DOCTYPE html>
<html>
<head>
	<title>Fridge thing</title>
	<meta name= "viewport" content="width=device-width, initial-scale=1.0">
	<link href= "../css/bootstrap.min.css" rel="stylesheet">
	<link href= "../css/styles.css" rel="stylesheet">
	<link href= "../css/flat-ui.min.css" rel="stylesheet">
</head>
<body style='overflow: hidden'>

	<div class="navbar navbar-default navbar-static-top">
		<div class = "container">

       	<a href="/" class="navbar-brand">Fridge Thing</a>

       	<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
       		<span class = "icon-bar"></span>
       		<span class = "icon-bar"></span>
       		<span class = "icon-bar"></span>

       	</button>

       	<div class= "collapse navbar-collapse navHeaderCollapse">


			<ul class = "nav navbar-nav navbar-right">

			<li ><a href = "/">Home</a></li>
			<li class="active"><a href="/createAccount">Sign Up</a></li>
			</ul>

		</div>

		</div>
    </div>

     <div class="containter">
		 <div class="jumbotron text-center">
		 <ul style="margin: 0 auto; width: 70rem;">
		{% for error in errors %}
		<li>
			{{error}}
		</li>
		{% endfor %}
	</ul>
			<form id="contact_form" action="" method="POST">
				<div class="row">
					<label for="name">Your  Name:</label><br />
						<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
							</div>
							<div class="row">
							<label for="Username">Username:</label><br />
								<input id="username" class="input" name="username" type="text" value="" size="30" /><br />
								</div>
								<div class="row">
									<label for="password">Password:</label><br />
									<input id="password" class="input" name="password" type="password" value="" size="30" /><br />
								</div>
								<div class="row">
									<label for="number">Mobile No.</label><br />
									<input id="number" class="input" name="number" type="text" value="" size="30" /><br />
								</div>
								<input id="btn btn-success" type="submit" value="Sign Up" />
							</form>						
								</div>
	 								</div>

 

     <div class = "navbar navbar-default	 navbar-fixed-bottom">

		<div class = "container">
			<p class = "navbar-text pull-left">Fridge thing</p>
		</div>

<script src= "http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src= "../js/bootstrap.js"></script>

 </body>
 </html>