<!DOCTYPE html>
<html>
	<head>
	<title>Fridge thing</title>
	<meta name= "viewport" content="width=device-width, initial-scale=1.0">
	<link href= "css/bootstrap.min.css" rel="stylesheet" />
	<link href= "css/styles.css" rel="stylesheet"/>
	<link href= "css/landing.css" rel="stylesheet" />
	<link href= "css/flat-ui.min.css" rel="stylesheet">

</head>
<body>

	<div class="navbar navbar-default navbar-static-top">
		<div class = "container">

			<a href="/" class="navbar-brand">Fridge Thing</a>

			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>

			<div class= "collapse navbar-collapse navHeaderCollapse">


				<ul class = "nav navbar-nav navbar-right">

					<li class='active'><a href = "/">Home</a></li>
					<li ><a href = "soonExpiring">Soon expiring</a></li>
					<li ><a href = "recipes">Recipes</a></li>
					<li><a href = "shoppingList">Shopping list</a></li>
					<li ><a href="/account/logout">Logout</a></li>
					<li><a href = "" data-toggle="modal"></a></li>

				</ul>

			</div>

		</div>
	</div>

	 <div id='app' class = "container">	
		<form id='add-new-product'>
			Enter product name or barcode, then the expiry date
			<input name='productName' id='name' placeholder='Product name or barcode' />
			<div id='add-new-product-expiry'>
				<input name='year' id='year' type='number' placeholder='year' /> -
				<input type='number' id='month' name='month' placeholder='month' /> -
				<input type='number' id='date' name='date' placeholder='date' />
			</div>
			<input type='button' id='addProduct' value="Add" />
		</form>


		<div id='no-products'>
			No items added.
		</div>

		<div id='products'></div>


		<div class = "navbar navbar-default	 navbar-fixed-bottom">
			<div class = "container">
				<p class = "navbar-text pull-left">Fridge thing</p>
			</div>
		</div>
	</div>
		
	<script type="text/javascript" src= "http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src= "js/bootstrap.js"></script>
	<script type="text/javascript" src="js/landingpage.js"></script>
 
 </body>
 </html>