{% extends 'layout.html' %}

{% block head %}
	<link href= "css/landing.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<form id='add-new-product'>
		Enter product name or barcode, then the expiry date
		<input name='productName' id='name' placeholder='Product name or barcode' />
		<div id='add-new-product-expiry'>
			<input name='year' id='year' type='number' placeholder='year' /> -
			<input type='number' style='width: 7.3rem' id='month' name='month' placeholder='month' /> -
			<input type='number' id='date' name='date' placeholder='date' />
		</div>
		<input type='button' class='btn btn-success' id='addProduct' value="Add" />
	</form>


	<div id='no-products'>
		No items added.
	</div>

	<div id='products'></div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="js/landingpage.js"></script>
{% endblock %}
