<!DOCTYPE html>
<html>
	<head>
	<title>Fridge thing</title>
	<meta name= "viewport" content="width=device-width, initial-scale=1.0">
	<link href= "css/bootstrap.min.css" rel="stylesheet">	
	<link href= "css/flat-ui.min.css" rel="stylesheet">
	<link href= "css/styles.css" rel="stylesheet">
</head>
<body>

	<div class="navbar navbar-default navbar-static-top">
		<div class = "container">

		<a href="index.html" class="navbar-brand">Fridge Thing</a>

		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>

		<div class= "collapse navbar-collapse navHeaderCollapse">

			<ul class = "nav navbar-nav navbar-right">

			<li class="active"><a href = "/">Home</a></li>
			</ul>

		</div>	

		</div>
	 </div>

	<div class = "container">

		<div class = "jumbotron text-center jumbotron--sign-in">

			<img src="./images/logo.png" />

			<h1>Welcome!</h1>
			<a href="/account/login" class="btn btn-success">Sign In!</a>
			<a href="/account/create" class ="btn btn-danger">Sign Up!</a>
		</div>

		<p>Fridge thing, is a digital catalogue of everything in your fridge, fridge thing allows you to manage your food 
	</div>		




<div class = "navbar navbar-default	 navbar-fixed-bottom">

		<div class = "container">
			<div class = "navbar-text pull-left"></div>
		</div>

	
	<script src= "http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src= "js/bootstrap.js"></script>
	</body>
 </html>