<!DOCTYPE html>
<html>
<head>
	<title>Fridgething</title>
</head>
<body>
	<form action="/login" method="POST">
		<input name="username" placeholder="Your username" /><br/>
		<input type='password' name="password" placeholder="Your password" /><br/>
		<input type="submit" />
	</form>
	<form action="/createAccount" method="POST">
		<input name="username" placeholder="Your username" /><br/>
		<input placeholder="Confirm your username" /><br/>
		<input type='password' name="password" placeholder="Your password" /><br/>
		<input type="submit" />
	</form>
</body>
</html>