<!DOCTYPE html>
<html>
<head>
	<title>Fridgething</title>
</head>
<body> 
	<h1>Login</h1>
	<form action="/account/login" method="POST">
		<input name="username" placeholder="Your username" /><br/>
		<input type='password' name="password" placeholder="Your password" /><br/>
		<input type="submit" />
	</form>
	<h1>Create</h1>
	<form action="/account/create" method="POST">
		<input name="username" placeholder="Your username" /><br/>
		<input name="phone" placeholder="Your phone number for alerts (+44...)" /><br/>
		<input type='password' name="password" placeholder="Your password" /><br/>
		<input type="submit" />
	</form>
</body>
</html>