{% extends 'layout.html' %}

{% block head %}
	<link href= "css/landing.css" rel="stylesheet" />
{% endblock %}


{% block links %}
	<li><a href = "/">Home</a></li>
	<li><a href = "/account/login">Login</a></li>
	<li><a href = "/account/createAccount">Sign up</a></li>
{% endblock %}

{% block content %}
	<div class = "jumbotron text-center jumbotron--sign-in">

		<img src="./images/logoSmall.png" />

		<h1>Welcome!</h1>
		<a href="/account/login" class="btn btn-success">Sign In!</a>
		<a href="/account/create" class ="btn btn-danger">Sign Up!</a>
		
	</div>
		<p>Fridge thing, is a digital catalogue of everything in your fridge, fridge thing allows you to manage your food</p>
	</div>

{ % endblock %}